<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Skin Cancer Classifier</title>
</head>
<body>
    <h1>Skin Cancer Classifier</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Predict">
    </form>
    <div id="result"></div>

    <script>
        document.querySelector('form').addEventListener('submit', async function (e) {
            e.preventDefault();

            const formData = new FormData(this);

            const response = await fetch('/predict', {
                method: 'POST',
                body: formData,
            });

            const result = await response.json();

            document.getElementById('result').innerHTML = `Predicted Class: ${result.class}`;
        });
    </script>
</body>
</html>
